@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", serif;
}


body{
    background: #ffffff;
    text-align: center;
    min-height: 100vh;
}
.logo{
    margin-top: 20px;
}
.signin-container{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
    padding: 20px 26px;
    border-radius: 8px;
    text-align: left;
}

.signin-title{
    font-size: 28px;
    font-weight: 400;
}

.input-lable{
    margin-top: 20px;
}

.signin-container input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 12px;
}
.signin-container input:focus{
    outline: 3px solid #c2f2ff;
}

.signin-container button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.signin-container button:hover{
    background: #ebc712;
}

.signin-condition{
    font-size: 13px;
}
.signin-container p span{
    color: #0066c0;
}

.signin-help{
    font-size: 13px;
    margin: 20px 0;
}

.signin-container hr{
    border: none;
    height: 1px ;
    background: #d4d4de;
    
}
.signin-container h4{
    margin: 15px 0;
    font-size: 13px;


}
.sigin-bussiness{
    font-size: 13px;
}
.signin-bottom{
    width: 350px;
    font-size: 13px;
    color: #737373;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.signin-bottom hr{
    width: 110px;
    border: none;
    height: 1px ;
    background: #d4d4de;
}

.signin-signup-btn{
    width: 350px;
    height: 25px;
    font-size: 13px;
    background: #fff;
    border-radius: 12px;
    border:1px solid #c3c3c3;
    border-color: #6b6a6a;
}
.signin-signup-btn:hover{
    background: #f1f1f1;
}

footer{
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 20px;
    padding: 20px 0;
    background:linear-gradient(to bottom, #f4f4f4, #ffffff);
    border: 2px solid #ededed;
    font-size: 12px;
}

footer ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
    list-style: none;
    color: #0066c0;
}


.last{
    margin: 12px;
    border: none;
    height: 12px;
    width: 100%;
}


/* media queries */

@media only screen and (max-width:600px) {
    body{
        font-size: 1em;
    }
    .signin-container{
        margin: 12px 12px;
    }
    .signin-signup-btn,.signin-bottom{
        width: 90%;
    }
}